<footer class="page-footer font-small bg-secondary pt-0">
    <div class="container">        

        <div class="row">
            <div class="col-md-12 d-flex justify-content-center">
                <ul class="social-network m-0 p-0">
                    <li>
                        <span title="Github"><a href="" target="_blank" class="icoGithub"><i class="fa fa-github" aria-hidden="true"></i></a></span>
                    </li>

                    <li>
                        <span title="Swagger - Documentação"><a href="" target="_blank" class="icoSwagger"><i class="fa fa-book" aria-hidden="true"></i></a></span>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div class="footer-copyright bg-dark text-center py-3">
        <span class="text-light"><p class="m-0">Copyright © Cesar Augusto. Teste Técnico - Metaway</p></span>
    </div>
</footer>
