.social-network {
    list-style-type: none;
    
    li {
        font-size: 35pt;
        display: inline;        
        padding: 10px;

        a {
            color: #ffffff;
        }

        .fa-book:hover {
            color: #008000;
        }

        .fa-github:hover {
            color: #171515;
        }
    }
}