<footer class="page-footer font-small bg-secondary pt-4">
    <div class="container">
        <div class="row">
            <div class="col-md-12 d-flex justify-content-center">
                <h4 class="text-withe">Teste Técnico Metaway</h4>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12 d-flex justify-content-center">
                <ul class="social-network m-1 p-0">
                    <li>
                        <a href="" target="_blank" class="icoGithub"><i class="fa fa-github" aria-hidden="true"></i></a>
                    </li>

                    <li>
                        <a href="" target="_blank" class="icoSwagger"><i class="fa fa-book" aria-hidden="true"></i></a>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div class="footer-copyright bg-dark text-center py-3">
        <span class="text-light"><p class="m-0">Copyright © Cesar Augusto. Teste Técnico - Metaway</p></span>
    </div>
</footer>
