<div class="container mt-5 mb-5">
    <div class="row">
        <div class="col-md-12">
            <h1 class="text-center text-secondary mt-5">Delete de Contato</h1>
        </div>
    </div>

    <div class="row mb-3">
        <div class="col-md-12">
            <h4 class="text-center text-secondary">
                Você tem certeza que deseja apagar esse contato?
            </h4>            
        </div>
    </div>

    <div class="row">
        <div class="col-md-12" *ngFor="let item of listaContato">
            <h5 class="text-center text-info">
                ID do Contato: {{item.id}}
                <br>                
                Telefone: {{item.telefone}}
                <br>
                E-Mail: {{item.email}}
            </h5>
        </div>
    </div>

    <div class="row">
        <div class="col-m-12 d-flex justify-content-center">
            <button class="btn btn-danger m-2" routerLink="/contatos">Cancelar</button>
            <button class="btn btn-info m-2" (click)="deletar()">Deletar</button>
        </div>
    </div>
</div>