#img-bg {
    background-image: url('https://i.imgur.com/becZEHE.png');

    min-height: 500px;

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.form-group {
    margin-bottom: 11px;
}

label {
    margin-bottom: 10px;
}

.btn {
    margin-right: 10px;
}